#masterCompanyLogo a {
    background: url('../Content/images/logo.png') no-repeat;
    width: 558px;
    height: 135px;
}

#masterSessionCompanyMenuContainer {
    height: 110px
}

#masterCompany {
    font-size: 250%;
    font-weight: bold
}

#masterCompany:before {
    content: none
        }

#DivImagenLogo {
    background: url('../Content/images/logo.png') no-repeat center;
}

.section_Content .row_Content {
    width: 100%;
}
